@model List<CountriesViewModel>

<div class="text-center">

    ﻿<form class="p-4" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">Найти</button>
            </div>
            <input type="text" class="form-control" name="nameCountry" placeholder="Найти страну" aria-label="" aria-describedby="basic-addon1">
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название страны</th>
                <th scope="col">Столица</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var country in Model)
                {
                    string capitals = "";

                    if (country.Capital != null)
                    {
                        foreach (var capital in country.Capital)
                        {
                            if (capitals != "")
                            {
                                capitals += $", {capital}";
                            }
                            else
                            {
                                capitals = capital;
                            }
                        }
                    }

                    <tr>
                        <th scope="row">@i</th>
                        <td><a asp-controller="Home" asp-action="Details" asp-route-nameCountry="@country.Name.Official">@country.Name.Official</a></td>
                        <td>@capitals</td>
                    </tr>

                    i++;
                }
            }
        </tbody>
    </table>
</div>